tqdm
nltk==3.7
rapidfuzz==2.0.11
numpy==1.21.6
ujson==5.2.0
nameparser==1.1.1
spacy==3.3.0
sqlitedict==2.0.0
numba==0.55.1
scann==1.2.9
git+https://github.com/epfml/sent2vec.git
transformers==4.30.0
gputil==1.4.0
