tqdm
nltk==3.7
rapidfuzz==2.0.11
numpy==1.21.6
ujson==5.2.0
nameparser==1.1.1
spacy==3.3.0
sqlitedict==2.0.0
numba==0.55.1
scann==1.2.9
git+https://github.com/epfml/sent2vec.git
transformers==4.30.0
gputil==1.4.0
dateparser==1.1.8
more-itertools==9.1.0
requests==2.21.0
flask==2.3.2
flask_cors==4.0.0
keybert==0.7.0
gensim==3.8.1
fast-autocomplete==0.9.0
fuzzysearch==0.7.3
timeout-decorator==0.5.0
lxml==4.9.0
unidecode
jsonschema==4.17.3
six==1.16.0
