tqdm
beautifulsoup4==4.7.1
boto3==1.9.147
requests==2.21.0
flask==2.3.2
flask_cors==4.0.0
python-magic==0.4.18
latex2mathml==2.16.2
gunicorn==20.1.0
lxml==4.9.0
unidecode
nltk==3.7
jsonschema==4.17.3
six==1.16.0
numpy==1.21.6
ujson==5.2.0